<h2><%= @user.username %>さんの面接日程</h2>
<% if !@interview.valid? %>
  <% if !@interview.errors.nil? %>
    <% @interview.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
<% end %>
<% if @interviews.any? %>
  <% @interviews.each do |interview| %>
    <% if interview.state != "承認" %>
      <%= form_for :interview, url: state_user_interview_path(@user, interview) do |f| %>
        <%= f.submit interview.start_interview.strftime("%Y年%m月%d日 %H時%M分"), data: {confirm: '承認しますか?' }%>
      <% end %>
    <% end %>
  <% end %>
<% end %>