<h2>編集面接作成</h2>
<%= form_for @interview, url: user_interview_path(@user, @interview) do |f| %>
    <% if @interview.errors.any? %>
    <% @interview.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
<% end %>
    <%= f.datetime_select :start_interview %>
    <%= f.submit '登録'%>
<% end %>