<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @examinee.username %>さんの面接日程が<%= @interviewer.username %>さんによって承認されました。</h3>
    <p>面接日時:<%= @interview.start_interview %></p>
    <p>面接方法等について、担当人事の方から再度連絡させていただきます。</p>
    <p>よろしくお願いします。</p>
  </body>
</html>