<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @examinee.username %>さんの面接希望日を登録しました。</h3>
    <p>面接日程の承認まで、少々お待ちください</p>
  </body>
</html>